html {position: relative;min-height: 100%;}
/*body {margin-bottom: 50px !important;}*/
/*body.no-footer{margin-bottom: 0px !important;}*/
main {padding-top: 65px;}
.footer {
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}
.asynchronicProgress{height: 4px; width: 100%; margin-top: -4px; display: none;}
.asynchronicProgress .progress-bar{height: 3px !important;}
#asynchronicProgress_status {font-size: 0.7em; color: gray; text-align: left; margin-top: -15px;}
.borderless td, .borderless th {border: none;}
[id^="showImageConverter"] {max-width: 100%;}
.list-operation-heading{white-space:nowrap;}
.list-pagination .pagination{margin-bottom: 0}
.operation-list{ padding: 0.25rem !important;}
.page-size{width: 60px !important;}
.jpm-list-table td{ padding: 0.25rem !important;}

.inline-block{display:inline-block}
.control-label{text-align: right;}
.converted-field-container .select2-container{
    display:block !important;
    width: 100% !important;
}
#content-header{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem 0rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
#content-header h4{color: gray;margin-top: 10px;margin-left: 20px;}
.jpm-content-panels .card{margin-bottom: 5px;}

.flyover {
    left: 150%;
    overflow: hidden;
    position: fixed;
    width: 40%;
    opacity: 0.9;
    z-index: 1050;
    transition: left 0.6s ease-out 0s;
}
.flyover-centered {top: 50%;transform: translate(-50%, -50%);}
.flyover.in {left: 60%;}
.flyover-bottom {bottom: 10px;}
.flyover-top {top: 40px;}
.popover{max-width: 400px;}