<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="encoder" class="jpaoletti.jpm2.core.security.BCrypt"/>
    <beans:bean id="authorizationService" class="jpaoletti.jpm2.core.service.SpringAuthorizationService"/>
    
    <http auto-config='true' disable-url-rewriting="false">
        <headers disabled="true"/>
        <csrf disabled="true"/>
        <intercept-url pattern="/login" access="permitAll" />
        <intercept-url pattern="/static/**" access="permitAll" />
        <intercept-url pattern="/favicon.ico" access="permitAll" />
        <intercept-url pattern="/rjpm/**" access="permitAll" /> <!-- REST -->
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
        <form-login login-page="/login" authentication-failure-url="/login?error=1" default-target-url="/index" />
        <logout logout-success-url="/index" delete-cookies="JSESSIONID" />
        <session-management>
            <!--<concurrency-control max-sessions="1" />--> <!-- This limits the number of logins the same user may have-->
        </session-management>
        <remember-me data-source-ref="dataSource"/>
    </http>

    <beans:bean id="userDetailsService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <beans:property name="dataSource" ref="dataSource"/>
        <beans:property name="enableGroups" value="true"/>
        <beans:property name="enableAuthorities" value="false"/>
    </beans:bean>
    
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsService">
            <password-encoder ref="encoder" />
        </authentication-provider>
    </authentication-manager>
    <global-method-security pre-post-annotations="enabled" />
    <beans:bean class="jpaoletti.jpm2.web.DefaultRolesPrefixPostProcessor"/>
</beans:beans>