<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="jpm" class="jpaoletti.jpm2.core.PresentationManager">
        <property name="appversion" value="1.0.0" />
        <property name="title" value="JPM2" />
        <property name="subtitle" value="Java Presentation Manager 2" />
        <property name="contact" value="jpaoletti@mail.com" />
        <property name="cssMode" value="less" />
        <property name="auditService">
            <bean class="jpaoletti.jpm2.core.service.AuditServiceDatabase" />
        </property>
    </bean>
    <bean id="securityService" class="jpaoletti.jpm2.core.service.SecurityServiceImpl" />
    <import resource="jpm-default-beans.xml" />
    <import resource="entities/test.xml" />
    <import resource="entities/jpm-security-entities.xml" />
</beans>
