<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="jpm" class="jpaoletti.jpm2.core.PresentationManager" singleton="true">
        <property name="appversion" value="1.0.0" />
        <property name="entities">
            <list>
                <ref bean="jpm-entity-test" />
            </list>
        </property>
    </bean>
    <import resource="jpm-default-converters.xml" />
    <import resource="entities/test.xml" />
    
</beans>
