<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>
    <logger name="org.hibernate" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.springframework.beans.factory" additivity="false">
        <level value="INFO" />
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="jpm" additivity="false">
        <level value="INFO" />
        <appender-ref ref="stdout"/>
    </logger>
    <root>
        <priority value="ERROR"></priority>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>